*,:after,:before{
    box-sizing:border-box;
}

body {
  margin: 0px;
}

.button {
  display       : inline-block;
  border-radius : 7px;
  font-size     : 100%;
  text-align    : center;
  cursor        : pointer;
  padding       : 10px 10px;
  background    : rgb(59 130 246);
  color         : #ffffff;
  line-height   : 1em;
  border-radius: .25rem;
}

.textArea1 {
  resize        : vertical;
  background    : #edf2f7;
  border        : 1px solid rgb(156 163 175);
  border-radius : 4px;
  padding       : 8px;
  font-size     : 100%;
  color         : #333333;
  letter-spacing: .1em;
  line-height   : 19px;
}

.textArea2 {
  resize        : vertical;
  width         : 100px;
  background    : #edf2f7;
  border        : 1px solid rgb(156 163 175);
  border-radius : 4px;
  padding       : 8px;
  font-size     : 100%;
  color         : #333333;
  letter-spacing: .1em;
  line-height   : 19px;
}

.textArea2:placeholder-shown {
  color         : #909090;
}

.label {
  width: 125px;
  text-align: right;
  margin-left: 30px;
  margin-right: 10px;
}

.header {
  margin           : 0px;
  padding          : 7px;
  font-size        : 120%;
  font-weight      : bold;
  color            : #FFFFFF;
  background-color : #3c366b;
  text-align       : center;
}

.bg-indigo-900 {
   background-color : #3c366b;
}

.container {
  width: 100%;
}

.mx-auto{
    margin-left:auto;
    margin-right:auto
}

.max-w-screen-md{
    max-width:768px
}

.w-full{
    width:100%
}

.min-h-screen{
    min-height:100vh
}

.text-left{
    text-align:left
}

.text-right{
    text-align:right
}
